:root {
    font-size: 16px;
    font-family: system-ui;
    --background-primary: #fdfbf6;
    --background-secondary: #eee8d5;
}

.page_inner {
    margin: 0;
    padding: 0 120px;
}

.main_width_limit {
    max-width: 800px;
}

body {
    background-color: var(--background-primary);
}

.main {
    margin: auto;
}

.navbar {
    /* flex: auto; */
    display: flex;
    height: 100vh;    
    position: fixed;
    background-color: var(--background-secondary);
}

.sidebar_navigation_links {
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
}